body {
    font-family: Arial, sans-serif; 
    margin: 0; 
    background:#000; 
}

.maingrid {
    gap: 10px;
    margin: 20px auto;
    padding: 5px;
    /* border: 2px solid #d11414; */
}

#maingrid{
    display: flex;
}

#maingrid-left {
    float: left;
}

#maingrid-right {
    float: left;
    flex-direction: column; /* Ensures children are stacked vertically */
    width: 100%;
}

#maingrid-right-top {
    display: block;
}

#maingrid-right-bottom {
    display: block;
}
