.clock-container {
    margin: auto;
    padding: 12px;
    background: #fff;
    border: 1px solid #ddd;
}

.dial {
    position: relative;
    width: 270px;
    height: 270px;
    margin: 12px auto;
}

.pie {
    position: absolute;
    inset: 0;
    width: 270px;
    height: 270px;
    border-radius: 50%;
    margin: 0;
    box-shadow: 0 2px 8px rgba(0,0,0,.1);
}

.inner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 230px;
    height: 230px;
    background: url('../img/clockface1.png') no-repeat center center;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transform: translate(-50%, -50%);
    z-index: 1;
}

.hand {
    position: absolute;
    left: 50%;
    bottom: 50%;
    width: 3px;
    background: #111;
    border-radius: 2px;
    transform-origin: bottom center;
    z-index: 2;
}

.cap {
    position: absolute;
    width: 5px;
    height: 5px;
    background: #fff;
    border: 2px solid #000;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.list {
    position: absolute;
    left: 33%;
    top: 22%;
    width: 200px;
    height: 200px;
    background-color: #f7f3ec;
    border-radius: 50%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transform: translateX(-50%);
    font-family: "Courier New", Courier, monospace;
    font-size: 20px;
    font-weight: 600;
    z-index: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.l-fajr { color: #588ecf; }
.l-sun { color: #acacac; }
.l-dhuhr { color: #6a9f5f; }
.l-asr { color: #F2AB04; }
.l-maghrib { color: #d14e42; }
.l-isha { color: #4E4242; }

.timewrap {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100px;
    height: 100px;
    background-color: #f7f3ec;
    border-radius: 50%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transform: translateX(-50%);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1.15;
}

.now {
    font-size: 24px;
    font-weight: 300;
}

.rem-time-text {
    font-size: 12px;
    font-weight: 300;
}

.rem-time {
    font-size: 30px;
    font-weight: 600;
    color: #4E4242;
}