.prayer-clock-container {
    margin: auto;
    margin-top: 20px;
    padding: 12px;
    /*border: 1px solid #ddd;*/
}

.dial {
    position: relative;
    width: 270px;
    height: 270px;
    margin: auto;
}

.pie {
    position: absolute;
    inset: 0;
    width: 270px;
    height: 270px;
    border-radius: 50%;
    margin: 0;
    box-shadow: 0 2px 8px rgba(0,0,0,.1);
}

.inner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 230px;
    height: 230px;
    background: url('../img/clockface2.png') no-repeat center center;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transform: translate(-50%, -50%);
    z-index: 1;
}

.hand {
    position: absolute;
    left: 50%;
    bottom: 50%;
    width: 3px;
    background: #1e1414;
    border-radius: 2px;
    transform-origin: bottom center;
    z-index: 2;
}
.hand-hour {
  width: 10px;
  z-index: 2;
  border-radius: 3px;
}
.hand-minute {
  width: 6px;
  z-index: 3;
  border-radius: 3px;
}
.hand-second {
  width: 3px;
  background: #632b2b;     /* red second hand */
  z-index: 4;
  border-radius: 2px;
}

.cap {
    position: absolute;
    width: 7px;
    height: 7px;
    background: #fff;
    border: 3px solid #000;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}